<div class="container">


    <div class="row justify-content-center">

        <div class="col-md-4">

            <h1 class="row justify-content-center">Editar perfil</h1>
            <br>
            <hr>
            <br>
            <form action="/myprofile/{{user._id}}/edit" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="userName">Nombre</label>
                    <input type="text" class="form-control" id="userName" name="userName" value="{{user.userName}}">
                </div>
                <div class="form-group">
                    <label for="email">Dirección de Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{user.email}}">
                </div>
                <div class="form-group">
                    <label for="img">Imagen de perfil</label>
                    <input type="file" class="form-control" id="img" name="profileImage" value="{{user.profileImage}}">
                </div>
                <div class="form-group">
                    <label for="age">Edad</label>
                    <input type="number" class="form-control" id="age" name="age" value="{{user.age}}">
                </div>
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <input type="text" class="form-control" id="description" name="description"
                        value="{{user.description}}">
                </div>

                <button type="submit" class="btn btn-dark btn-block">Guardar</button>
            </form>
            {{#if errorMsg}}
            <p id="errorMessage">{{errorMsg}}</p>
            {{/if}}


            <form action="/myprofile/{{user._id}}/delete" method="POST">
                <button type="submit" class="btn btn-warning back-button">Eliminar</button>
            </form>

            <hr>
        </div>
    </div>


</div>