<div class="container d-flex justify-content-center profile">
    <div class="row">
        <div class="col-12">
            <img src="{{user.profileImage}}" alt="{{user.userName}}">
            <h1>{{user.userName}}</h1>
            <hr>
            <p><strong>Edad:</strong> {{user.age}}</p>
            <p><strong>Descripción:</strong> {{user.description}}</p>
            <a href="/myprofile/{{user._id}}/edit" class="btn btn-dark">Editar perfil</a>
            <a href="/myprofile/{{user._id}}/close" class="btn btn-dark">Cerrar sesión</a>
        </div>
    </div>
</div>