<div class="container">

    <div class="row edit-event">

        <div class="col-12">
            <h1 style="font-weight: 100">Editar - {{events.title}} </h1>
        </div>

        <div class="col-12">

            <form action="/event/{{events.id}}/edit" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Nombre</label>
                    <input name="title" type="text" class="form-control" id="title" value="{{events.title}}">
                </div>
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <input name="description" type="text" class="form-control" id="description"
                        value="{{events.description}}">
                </div>
                <div class="form-group">
                    <label for="capacity">Capacity</label>
                    <input name="capacity" type="number" class="form-control" id="capacity" value="{{events.capacity}}">
                </div>
                <div class="form-group">
                    <label for="ldate">Date</label>
                    <input name="length" type="date" class="form-control" id="time" value="{{events.time}}">
                </div>
                <div class="form-group">
                    <label for="eventImage">Event image</label>
                    <input name="eventImage" type="text" class="form-control" id="eventImage"
                        value="{{events.eventImage}}">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="address">Address</label>
                            <input id="address" type="text" />
                            <input type=" text" hidden name="lat" id="location-lat">
                            <input type="text" hidden name="lng" id="location-lng">
                            <button type="button" id="submit" name="address">Locate!</button>
                            <p id="error-msg"></p>
                        </div>
                    </div>
                </div>
                <figure id="myMap"></figure>
                <button type="submit" class="btn btn-outline-dark">Guardar</button>
                <a href="/event" class="btn btn-outline-dark">Volver</a>
            </form>
            <form action="/event/{{events.id}}/delete" method="POST">
                <button type="submit" class="btn btn-outline-danger">Eliminar</button>
            </form>
        </div>

        {{#if errorMsg}}
        <p>{{errorMsg}}</p>
        {{/if}}

    </div>
    <script src="/js/mapStyles.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/place-map-setup.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoajqXibWJz4sOq2ROb_U-8TdlpWx_Cds&callback=initMap"></script>
</div>