<div class="container">
    <div class="row">
        {{#each events}}
        <div class="col-md-4 bio-card ox-information">
            <img src="{{eventImage}}" class="card-img-top" alt="{{title}}">
            <div clas="box-information">
                <h2>{{title}}</h2>

                <h5><strong>Fecha: </strong> {{time}}</h5>
                <p><strong>Dirección:</strong> {{address.direction}}</p>
                <div class="tab">
                    <div class="tab-content">

                        {{#if ../isLogged}}
                        <a href="/event/{{id}}" class="btn text-danger">Ver detalles</a>
                        {{/if}}
                    </div>
                    <br>
                    <hr>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>